@import url('bootstrap');

body{
    background-color: rgb(48, 46, 46);
}

#boolflix{
    font-family: "Oswald", sans-serif;
}

.bi-star-fill{
    color: rgb(244, 244, 8);
}



.card{
    min-height: 30rem;
    overflow-y: auto;
    
}

.card::-webkit-scrollbar{
    
    width: 4px;
    
}



.card::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.67); 
  border-radius: 20px; 
  width:  5px;
  
}

.card_poster{
    position: relative;
    height: 30rem;
    object-fit: cover;
    width: 100%;
    
}

.card:hover{
    border-color: rgb(203, 8, 8);
    border-width: 1px;
    transform: translateY(-5px);
    transition-duration: 1s;
}
.card:hover .card_poster{
    display: none;
}

.card_info{
    position: absolute;
    display: none;
    
}
.card:hover .card_info{
    display: block;
    
}

.img_home{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

#card_home{
    min-height: 18rem;
}

#current_title{
     font-family: "Oswald", sans-serif;
}

#resultsFor{
    font-family: "Oswald", sans-serif;
}